{% extends 'base.html.twig' %}

{% block title %}Listado de Empleados{% endblock %}

{% block body %}
    <h1 class="my-4">Empleados</h1>
    <a href="{{ path('app_employe_new') }}" class="btn btn-success mb-3">Nuevo Empleado</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Posición</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
                <tr>
                    <td>{{ employe.id }}</td>
                    <td>{{ employe.name }}</td>
                    <td>{{ employe.email }}</td>
                    <td>{{ employe.position }}</td>
                    <td>
                        <a href="{{ path('app_employe_show', {'id': employe.id}) }}" class="btn btn-info btn-sm">Ver</a>
                        <a href="{{ path('app_employe_edit', {'id': employe.id}) }}" class="btn btn-warning btn-sm">Editar</a>
                        {{ include('employe/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
